<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="" value=""/>
		<add key="Historylist" value="Сохраненные данные/Historylist.xml"/>
		<add key="Productlist" value="Сохраненные данные/Productlist.xml"/>
		<add key="Packagelist" value="Сохраненные данные/Packagelist.xml"/>
		<add key="LegalEnitylist" value="Сохраненные данные/LegalEnityslist.xml"/>
		<add key="Brandlist" value="Сохраненные данные/Brandlist.xml"/>

	</appSettings>
</configuration>